# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

*.Identifier

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist
packages/hardhat/deployments/arbitrumSepolia/.chainId
packages/hardhat/deployments/arbitrumSepolia/eETH.json
packages/hardhat/deployments/arbitrumSepolia/RedactCore.json
packages/hardhat/deployments/arbitrumSepolia/solcInputs/35bcf27cf9f70da1835f03274fe6e465.json
